# Variáveis de ambiente do Frontend (Vite)

# URL da API do Back-end. 
# Quando for fazer o deploy no Render, configure essa variável lá no painel do Render com a URL de produção do seu back-end.
VITE_API_URL=http://localhost:5116/api
